*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
body {
    background-color: rgb(243 243 243);
    transition: .3s;
}
.fotos-principales {
    width: 100%;
    height: 75vh;
    display: flex;
    position: relative;
}
.fotos {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-principal {
    min-width: 100%;
    transition: transform 0.3s ease;
    user-select: none;
}

img.img-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.degrade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgb(255 255 255) 6%, transparent 83%);
}
p.fotos-disponibles {
    position: absolute;
    margin: 10px;
    padding: 2px 8px;
    background: #00000082;
    color: white;
    border-radius: 50px;
    width: 40px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(60px);
    z-index: 2;
    font-family: monospace;
}
h5.titulo {
    padding: 10px;
    color: #000000;
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 500;
    margin: -10px 0px 0px 0px;
    position: absolute;
}
.informacion {
    margin: 50px 0px 0px 0px;
}
p.precio {
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 100;
}
p.cuotas {
    padding: 0px 10px;
    color: #1575ff;
    font-size: 1rem;
    font-family: system-ui;
}
p.precio {
    padding: 10px 10px 0px 10px;
    width: 100%;
    color: #000000;
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 100;
}
.botones-comprar {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    padding: 10px;
    display: flex;
}
a.carrito-a {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
}
svg.carrito {
    width: 30px;
    height: 30px;
}
a.comprar-ahora {
    margin: 0px 10px 0px 0px;
    width: 250px;
    border-radius: 5px;
    background: #000000;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
}
.descripcion {
    text-align: justify;
    font-family: none;
    position: relative;
    overflow: hidden;
    transition:height 0.3s ease;
}

.ventana-mas-descripcion {
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 2;
position: fixed;
    bottom: -100%;
    transition: bottom .5s ease;
    filter: drop-shadow(9px 4px 18px black);
    border-radius: 10px;
}
.detalles-producto-cruz {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
p.detalles-producto-completo {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 500;
}
p.x {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 900;
    cursor: pointer;
}
p.titulo-descripcion {
    color: #000000;
    margin: 15px 0px 15px 0px;
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0px 10px;
}
p.caracteristicas {
    color: gray;
    padding: 0px 15px;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.detalles-caracteristicas {
    width: 100%;
    padding: 10px;
}
.contenedor-caracteristicas {
    border: 2px solid #e7e9eb;
    border-radius: 5px;
}
.caracteristicas-gris {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #9aa1aa3d;
    color: #000000;
    font-family: sans-serif;
}
.caracteristicas-blancas {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ffffff4d;
    border-radius: 5px;
    color: #000000;
    font-family: sans-serif;
}
.mas-detalles {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.caracteristicas-generales {
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    font-family: sans-serif;
    font-size: 1.2rem;
}
p.mas-detalles-abrir {
    font-size: 1.3rem;
    font-family: sans-serif;
    color: #1575ff;
}
svg.flecha-detalles {
    width: 21px;
    height: 21px;
    margin: 0px 0px 0px 10px;
}
svg.flecha-detalles path {
    stroke: #1575ff;
}
.linea {
    width: 70%;
    height: 1px;
    background: #a9a9a957;
    margin: 15px 15% 0px 15%;
    border-radius: 100%;
}


p.metodos-pago-p {
    color: rgb(0, 0, 0);
    margin: 15px 0px 0px 0px;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px 10px;
}
.logos-pago {
    display: flex;
    width: 100%;
    padding: 0px 10px 10px 10px;
}
a.mercado-pago {
    width: 130px;
    height: 80px;
    margin: 0px 10px 0px 0px;
    transition: 300ms;
    border-radius: 10px;
}
a.mercado-pago:hover {
    background: #1575ff;
}
.logos-metodo-pago-tarjeta {
    width: 130px;
    height: 80px;
    border: 1px solid black;
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informacion-cuenta-banco {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.todo-cuenta-banco {
    padding: 10px;
    background: #000000;
    border-radius: 20px;
    color: white;
}
p.nombre {
    padding: 10px;
    font-size: 1.1rem;
    font-family: sans-serif;
}
span.span-informacion {
    font-weight: 600;
}
svg#logos {
    width: 100px;
    height: 100px;
}
svg#logos path {
    fill: black;
}
.dudas-p {
    padding: 0px 10px 10px;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 30px;
}
.dudas {
    margin: 0px 0px 120px;
}
a.contactanos {
    width: 80%;
    display: flex;
    margin: 0px 10% 20px;
    padding: 20px 10px;
    background: #000000;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    height: 66px;
    font-family: sans-serif;
    font-weight: 600;
}

svg.servicio-clienete {
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 10px;
}
svg.servicio-clienete path {
    fill: white;
}
.menu-buscador {
    width: 100%;
    height: 70px;
    background: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.opciones-svg {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.iconos-menu {
    width: 30%;
    height: 30%;
}
p.carrito-numero {
    font-size: 1.2rem;
    font-family: sans-serif;
}
.info {
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.elegi-opcion {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2.5%;
}
.opciones-opciones {
    width: 45%;
    margin: 0px 2.5%;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    font-family: system-ui;
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #1575ff;
}
p.descricpcion-p-estilo {
    text-align: justify;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 10px;
    height: 399px;
    overflow: auto;
}
.degradado-descripcion {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(0deg, #ffffff, transparent);
}


.puntos {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.punto.activo {
    background: #333;
}
.wspp-div {
    background: #075E54;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.wspp path {
    fill: white;
}

svg.wspp {
    width: 50px;
    height: 50px;
}