*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


header.menu-principal-pc {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    height: 80px;
    align-items: center;
    padding: 0px 20px;
    width: 95%;
    margin: 10px 2.5%;
    border-radius: 20px;
    position: fixed;
    top: 0;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    z-index: 9999;
}

.izquierda-pc .centro-pc {
    display: flex;
}

.izquierda-pc {
    display: flex;
}

.centro--pc {
    display: flex;
}

.derecha-pc {
    display: flex;
    align-items: center;
}
.span-pc-carrito{
display: block;
}
.opciones-pc {
    margin: 0px 10px;
    display: flex;
    justify-content: right;
    position: relative;
    align-items: center;
    cursor: pointer;
}

p.opciones-menu-p-pc {
  font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
}
input.buscador-pc {
    font-family: "Momo Trust Display", sans-serif;
    height: 40px;
    border: none;
    background: rgb(243 243 243);
    border-radius: 20px;
    padding: 10px;
}
svg.lupa-pc {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0px 10px 0px 0px;
}
svg.carrito-pc {
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 5px;
}
p.opciones-menu-p-pc::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
    z-index: 2;
    border-radius: 50px;
}

p.opciones-menu-p-pc:hover::before {
    width: 100%;
}
#ocultar-opciones-celu{
    display: block;
}
.producto-detalle-pc {
    width: 80%;
    margin: 110px 0%;
    height: 450px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    overflow: hidden;
    z-index: 2;
}

.fotos-producto-pc {
    width: 69%;
    height: 100%;
    border-radius: 20px;
    margin: 0px 1% 0px 0px;

}
.toda-info-pc{
    width: 29%;
    height: 100%;
    transition: .3s;
}
.agregar-carrito-pc {
    width: 100%;
    margin: 0px 0px 0px 1%;
    background: #000000;
    border-radius: 20px;
    height: 136px;
    position: relative;
    transition: .3s;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}
.fotos-contenedor-pc {
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 20px;
}

.fotos-vertical-pc {
    width: 20%;
    border-radius: 20px;
    height: 70%;
    max-width: 91px;
}


.foto-grande-pc {
    width: 99%;
    margin: 0px 0px 0px 2%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
img.fotos-verticales-png {
    width: 50px;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}
.fotos-vertical-fotos {
    display: flex;
    justify-content: center;
}
img.imagen-grande-png {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    max-width: 382px;
    max-height: 390px;
}
.productos-pc-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 585px;
    transition: .3s;

}
h5.nombre-producto-pc {
    color: white;
    font-size: 1.3rem;
    font-family: 'Momo Trust Display';
    font-weight: 100;
    text-align: left;
    padding: 10px 10px 0px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    
}
.contenedor-linea-pc {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}
.linea-detalles-pc {
    width: 60%;
    height: 1px;
    background: #ffffff30;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}

p.descripcion-descripcion-pc {
    color: #b5afaf;
    margin: 10px 0px 10px 0px;
    font-family: 'Momo Trust Display';
    font-size: .8rem;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
p.descripcion-descripcion-pc:hover {
    color: white;
}

.descripcion-contenedor-pc {
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
    
}
.caracteristicas-detalles-pc {
        border-top: 1px solid #ffffff30;

    width: 100%;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    height: 225px;
    display: none;
    overflow: auto;
}
p.titulo-descripcion-pc {
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Momo Trust Display';
        margin: 10px 0px;
}

p.descripcion-producto-pc {
    margin: 5px 0px 0px 0px;
    font-family: 'Momo Trust Display';
    font-size: .7rem;
    color: #ffffffb3;
    text-align: justify;
}
div#caracteristicas-detalles-pc::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

div#caracteristicas-detalles-pc::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 20px;
}

div#caracteristicas-detalles-pc::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 20px;
}
.paga-en-cuotas-pc {
    width: 100%;
    margin: 15px 0px 0px 0px;
    display: block;
    transition: .3s;
}

.contenedor-cuotas-pc {
    padding: 10px;
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

p.texto-cuotas-pc {
    color: white;
    font-size: .5rem;
    font-family: 'Momo Trust Display';
    text-align:left;
}
svg.tarjeta-credito-pc {
    width: 15px;
    height: 15px;
    margin: 0px 5px 0px 0px;
}

svg.tarjeta-credito-pc path {
    stroke: white;
}
p.precio-pc {
    font-family: 'Momo Trust Display';
    margin: 0px 0px 15px 0px;
    width: 100%;
    padding: 0px 10px;
    text-align: end;
}
.botones-comprar-carrito-pc {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.comprar-boton-pc {
    width: 100%;
}
.a-comprar-ahora-pc {
    text-decoration: none;
    font-size: .8rem;
    font-family: 'Momo Trust Display';
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000000;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
    transition: .3s;
    cursor: pointer;
}
.a-comprar-ahora-pc:hover {
    background-color: #1575ff;
    color: white;
    border: 3px solid #1575ff;
}
.carrito-boton-pc {
    margin: 10px 0px 0px 0px;
    width: 100%;
}
a.a-carrito-pc {
    text-decoration: none;
    font-size: .8rem;
    position: relative;
    font-family: 'Momo Trust Display';
    color: black;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
}
a.a-carrito-pc:hover{
    color: white;
}
a.a-carrito-pc::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: #000000;
    overflow: hidden;
    z-index: -1;
    margin: -20px 0px 0px -210%;
    transition: .3s;
    border: 3px solid black;

}
a.a-carrito-pc:hover::before{
        margin: -20px 0px 0px 0%;

}
.alguna-duda-pc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

p.alguna-duda-p-pc {
    font-size: .6rem;
    font-family: 'Momo Trust Display';
}
a.contactanos-a-pc {
    text-decoration: none;
    color: #1575ff;
    margin: 0px 0px 0px 3px;
    transition: .3s;
}
a.contactanos-a-pc:hover {
    color: #1406ac;

}
.metodo-de-pago-pc {
    width: 80%;
    height: 450px;
    position: absolute;
    margin: 110px 0px 0px 0px;
    border-radius: 20px;
    max-width: 800px;
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: 1;
    transition: .3s;
    padding: 10px 0px;
    
}
.metodo-pago-ventana-pc {
    width: 300px;
    height: 350px;
    background: #000000;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));

}
.todo-contenedor-metodo-pago-pc {
    width: 100%;
    height: 100%;
    padding: 15px;
    
}
.separador-div-pc {
    display: flex;
    justify-content: space-between;
}
p.metodo-de-pago-p-pc {
    font-size: 1.3rem;
    color: white;
    font-family: 'Momo Trust Display';
}


p.cancelar-metodo-de-pago-pc {
    color: white;
    font-family: 'Momo Trust Display';
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
}
.linea-separadora-pc-pago {
    width: 70%;
    margin: 10px 15% 20px;
    height: 1px;
    background: #303030;
}
.metodos-pago-opciones-pc {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    display: flex;
}
.pagos-tarjetas-pc {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    background: rgb(19, 17, 17);
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}
a.a-pagos-tarjetas-pc {
    text-decoration: none;
    width: 90px;
    display: flex;
    height: 100%;
    font-family: 'Momo Trust Display';
    font-size: 1rem;
    color: white;
    align-items: center;
    justify-content: center;
}
svg.logos-pago-pc {
    width: 70px;
    height: 50px;
}
svg.logos-pago-pc path {
    fill: white;
}
#mercado-pago-berfore-pc{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#mercado-pago-berfore-pc::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: #1575ff;
    border-radius: 5px;
    margin: 0px 0px 0px -105%;
    z-index: -1;
    transition: .3s;

}
#mercado-pago-berfore-pc:hover::before{
    margin: 0px 0px 0px 0%;
}
.img-previa-chica-pc {
    width: 100%;
    display: flex;
    justify-content: end;
}
img#vista-chica-pc {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}
.informacion-previa-pc {
    color: white;
    display: flex;
    margin: 20px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
}

p.titulo-producto-previa-pc {
    font-family: 'Momo Trust Display';
    font-size: .8rem;
    width: 193px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

p.precio-previa-pc{
    margin: 0px 10px 0px 0px;
    font-size: 1rem;
    font-family: 'Momo Trust Display';
}
.span-precio-previa-pc {
    margin: 0px 4px 0px 0px;
    font-size: 1rem;
    font-family: 'Momo Trust Display';
}
.precio-previa-div-pc {
    display: flex;
}
.ptitulo-medio-envio-pc {
    color: white;
    margin: 10px 0px 0px 0px;
    font-family: 'Momo Trust Display';
}

a.boton-medio-de-envio {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 45px;
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
    align-items: center;
    border: 2px solid white;
    font-family: 'Momo Trust Display';
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    transition: .3s;
    overflow: hidden;
    cursor: pointer;
}
a.boton-medio-de-envio:hover{
    color: black;
}
a.boton-medio-de-envio::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
    z-index: -1;
    margin: 0px 0px 0px -205%;
    transition: .3s;
}
a.boton-medio-de-envio:hover::before {
    margin: 0px 0px 0px 0px;
}
.transferencia-bancaria-alias-pc {
    width: 610px;
    height: 350px;
    position: absolute;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.transferencia-pc {
    width: 300px;
    height: 170px;
    background: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));

}
p.nombre-p {
    padding: 10px 0px;
    font-size: 1rem;
    font-family: 'Momo Trust Display';
    color: rgb(201, 191, 191);
}
.span-informacion-pc{
        color: white;

}
.productos-similares-p {
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;
}
.contenedor-productos-similares-pc {
    width: 80%;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    max-width: 800px;
}
p.productos-similaes-pc-p {
    font-family: 'Momo Trust Display';
}
.productos-similares-div-p {
    width: 100%;
    height: 145px;
    display: flex;
    border-radius: 20px;
    margin: 15px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.productos-similares-contenido-pc {
    position: relative;
    width: 95%;
    height: 90%;
    margin: 0px 2.5%;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
img.contenido-similar-foto-pc {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
    border-radius: 10px;
    object-fit: cover;
}
.titulo.div-p {
    display: flex;
    justify-content: space-between;
    width: 194px;
    align-items: center;
    padding: 0px;
}

p.titulo-productos-p {
    width: 127px;
    color: white;
    font-family: 'Momo Trust Display';
}

p.precio-productos-similares-p {
    color: white;
    font-family: 'Momo Trust Display';
}
.productos-similares-contenido-pc::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #1575ff;
    border-radius: 20px;
    overflow: hidden;
    left: 0;
    transition: .3s;
    z-index: -1;
}
.productos-similares-contenido-pc:hover::before {
    width: 100%;
    background: #1575ff;
}
#agregar-carrito-pc-oculto {
    display: none;
}
#agregar-carrito-pc{
    display: block;
}
.metodo-de-pago-pc-oculto {
    width: 90%;
    border-radius: 20px;
    max-width: 800px;
    align-items: end;
    transition: .3s;
    margin: -371px 5% 20px;
    display: none;
}
.metodo-pago-ventana-pc-oculto {
    width: 100%;
    height: 350px;
    background: #000000;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    margin: 0px 0px 10px 0px;
}
.todo-contenedor-metodo-pago-pc-oculto {
    width: 100%;
    height: 100%;
    padding: 15px;
}
.transferencia-bancaria-alias-pc-oculto {
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.transferencia-pc-oculto {
    width: 300px;
    height: 170px;
    background: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
}
.comprar-boton-pc-oculto {
    width: 100%;
    display: none;
}
.comprar-boton-pc {
    width: 100%;
    display: block;
}
.detalles-caracteristicas {
    width: 100%;
    padding: 10px;
}
.contenedor-caracteristicas {
    border: 2px solid #e7e9eb;
    border-radius: 5px;
}
.caracteristicas-gris {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #c9c9c9;
    color: #000000;
    font-family: 'Momo Trust Display';
}
.caracteristicas-blancas {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    font-family: 'Momo Trust Display';
}
.mas-detalles {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.caracteristicas-generales {
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    font-family: sans-serif;
    font-size: 1.2rem;
}
@media (max-width: 960px) {
.productos-similares-contenido-pc {
    position: relative;
    width: 95%;
    height: 125px;
    margin: 0px 2.5% 10px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.productos-similares-div-p {
    width: 100%;
    height: fit-content;
    display: block;
    border-radius: 20px;
    margin: 15px 0px 0px 0px;
}
.titulo.div-p {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 10px;
}
}

@media (max-width: 615px) {
.span-pc-carrito{
display: none;
}
.producto-detalle-pc {
    width: 90%;
    margin: 110px 0% 20px;
    height: fit-content;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: block;
    max-width: 800px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    overflow: hidden;
    z-index: 2;
}
    .fotos-producto-pc {
        width: 100%;
        height: 270px;
        border-radius: 20px;
        margin: 0px 1% 0px 0px;
    }

    img.imagen-grande-png {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        max-width: 382px;
        max-height: 330px;
    }
.toda-info-pc {
    width: 100%;
    height: 100%;
    transition: .3s;
}
.agregar-carrito-pc {
    width: 100%;
    margin: 0px 0px 0px 1%;
    background: #000000;
    border-radius: 20px;
    height: 95px;
    position: relative;
    transition: .3s;
    overflow: hidden;
    margin: 20px 0px 0px 0px;
}
.productos-pc-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    transition: .3s;
}
.contenedor-productos-similares-pc {
    width: 90%;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    max-width: 800px;
}
#ocultar-opciones-celu{
    display: none;
}
header.menu-principal-pc {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    height: 80px;
    align-items: center;
    padding: 0px 20px;
    width: 90%;
    margin: 10px 5%;
    border-radius: 20px;
    position: fixed;
    top: 0;
    filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.26));
    z-index: 9999;
}
p.alguna-duda-p-pc {
    font-size: .8rem;
    font-family: 'Momo Trust Display';
}
#agregar-carrito-pc{
    display: none;
}
div#agregar-carrito-pc-oculto {
    display: block;
}
.metodo-de-pago-pc{
    display: none;
}
.metodo-de-pago-pc-oculto {
    width: 90%;
    border-radius: 20px;
    max-width: 800px;
    align-items: end;
    transition: .3s;
    margin: -371px 5% 20px;
    display: block;
}
.comprar-boton-pc {
    width: 100%;
    display: none;
}
.comprar-boton-pc-oculto {
    width: 100%;
    display: block;
}
}